.cart {
    align-items: center;
    background: linear-gradient(90deg, rgba(18, 173, 232, 1) 0%, rgba(81, 140, 246, 1) 0%, rgba(0, 212, 255, 0.7483368347338936) 100%);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 15px;
    position: relative;
    width: 30px;
}

.count {
    background-color: #e94560;
    border-radius: 50%;
    color: #fff;
    font-size: .8rem;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 18px;
}